.customTable {
  // overflow-x: scroll;
  table {
    border-collapse: separate;
    border-spacing: 0 $x-0-75;
    width: 100%;
  }

  thead {
    tr {
      th {
        text-align: left;
        padding: $x-0-5 $x-1;
        color: $dark-alt;
        background-color: $white;
        @include smaller-font;
        text-transform: uppercase;
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
          text-align: center;
        }

        .th__header {
          display: flex;
          align-items: center;
          .MuiSvgIcon-root {
            @include h2-font;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  tbody {
    tr {
      background-color: $white;
      @include transition(100ms);
      &:hover {
        background-color: $cyan;
        cursor: text;
        td {
          color: $white;
        }
      }
      td {
        text-align: left;
        padding: 0.3rem $x-1;
        font-weight: $semi-bold;
        color: $dark-alt;
        opacity: 0.9;
        @include smaller-font;
        white-space: nowrap;
        @include transition(100ms);
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
  .customTable__pagination {
    margin-top: $x-0-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pagination__text {
      color: $dark-alt;
      @include small-font;
    }
  }
}
