/*=================== LAYOUT ===================*/
.container {
  max-width: 1168px;
  margin-right: $x-1;
  margin-left: $x-1;
  @include breakpoint(sm) {
    margin-right: $x-1-5;
    margin-left: $x-1-5;
  }
  @include breakpoint(md) {
    margin-right: $x-2;
    margin-left: $x-2;
  }
  @include breakpoint(lg) {
    margin-right: $x-3;
    margin-left: $x-3;
  }
  @include breakpoint(xl) {
    margin-right: auto;
    margin-left: auto;
  }
}
/*=================== REUSEABLE CLASSES ===================*/
// Button
.btn {
  .MuiButton-root {
    height: 3rem;
    width: 9rem;
    display: block;
    font-weight: $semi-bold;
    text-transform: capitalize;
    border-radius: 0;
    @include small-font;
    cursor: pointer;
    @include breakpoint(md) {
      height: 3.5rem;
      width: 10rem;
    }
    &:hover {
      @include shadow-btn;
    }
  }
}
.btn__white {
  .MuiButton-root {
    background-color: $white;
    color: $dark-alt;
    &:hover {
      color: $dark-alt;
      background-color: $white;
    }
  }
}
.btn__dark {
  .MuiButton-root {
    background-color: $dark-alt;
    color: $white;
    &:hover {
      color: $white;
      background-color: $dark-alt;
    }
  }
}

// Section
.section {
  padding: $x-2 0;
}

// Section Title
.section__title {
  font-weight: $semi-bold;
  color: $dark-alt;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 6rem;
    height: 0.1rem;
    background-color: $dark-alt;
    left: 0;
    bottom: 0;
    transform: translateY(0.6rem);
  }
}
