.banner__slider {
  .swiper {
    width: 100%;
    height: calc(100vh - 3rem);
    margin-top: -4rem;
    position: relative;
    z-index: 1;
    @include breakpoint(md) {
      height: 100vh;
    }

    .swiper-pagination-bullets {
      bottom: 35px;
      @include breakpoint(lg) {
        right: 30px;
        width: initial !important;
        height: max-content !important;
        left: initial !important;
        top: 50%;
        bottom: initial;
        transform: rotate(90deg) translateX(-50%);
      }
    }

    .swiper-pagination-bullet {
      background-color: $cyan;
    }

    .swiper-slide {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;

      .bannerSlider__content {
        width: 100%;
        @include breakpoint(sm) {
          width: 75%;
        }
        @include breakpoint(md) {
          width: 65%;
        }
        @include breakpoint(lg) {
          width: 60%;
        }
        @include breakpoint(xl) {
          width: 50%;
        }

        .bannerSlider__category {
          display: flex;
          gap: 1rem;

          @include breakpoint(sm) {
            gap: 1.4rem;
          }
          @include breakpoint(md) {
            gap: 2rem;
          }
          .category__line {
            width: 2px;
            height: 20px;

            background-color: $dark-alt;
            opacity: 0.5;
            @include breakpoint(md) {
              height: 23px;
            }
          }

          .category__name {
            @include smallest-font;
            color: $dark-alt;
            opacity: 0.7;
            line-height: 1;
            text-transform: uppercase;
          }
        }

        .bannerSlider__title {
          @include big-font;
          color: $dark-alt;
          font-weight: $semi-bold;
          margin-top: $x-1-25;

          @include breakpoint(lg) {
            margin-top: $x-2;
          }
          @include breakpoint(xl) {
            margin-top: $x-2-5;
          }
        }

        .bannerSlider__description {
          @include smaller-font;
          color: $dark-alt;
          font-weight: $medium;
          display: block;
          margin-top: $x-0-75;
        }

        .bannerSlider__button {
          margin-top: $x-2;

          .MuiButton-root {
            height: 2.5rem;
            letter-spacing: 0px;
            @include smaller-font;
            @include breakpoint(md) {
              height: 2.8rem;
            }

            .MuiSvgIcon-root {
              @include normal-font;
            }
          }
        }

        .bannerSlider__countnumber {
          font-size: 7rem;
          color: $dark-alt;
          font-weight: $bold;
          position: absolute;
          left: -25px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0.2;

          display: none;
          @include breakpoint(xl) {
            display: block;
          }
        }
      }
    }
  }
}
