.cartItem {
  position: relative;
  display: flex;
  gap: 0.8rem;
  padding: $x-0-75 $x-1;
  margin-bottom: $x-0-75;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $white;
    z-index: -1;
    border-radius: 8px;
    opacity: 0.4;
    @include shadow-btn;
  }

  @include breakpoint(sm) {
    gap: 1rem;
  }

  .cartItem__image {
    img {
      width: 110px;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }
  .cartItem__content {
    width: 100%;
    .cartItem__data {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      .cartItem__details {
        .cartItem__title {
          color: $dark-alt;
          @include small-font;
          font-weight: $semi-bold;
          @include breakpoint(sm) {
            @include normal-font;
          }
          &:hover {
            color: $cyan;
          }
        }

        .cartItem__price {
          color: $dark-alt;
          @include smaller-font;
          font-weight: $bold;
          border-right: $border-gray;
          margin-right: $x-0-5;
          padding-right: $x-0-5;
        }
        .cartItem__stock {
          @extend .cartItem__price;
          border: none;
          color: $cyan;
          opacity: 0.6;
          font-weight: $semi-bold;
          @include smallest-font;

          .cartItem__countOutStock {
            color: $red;
          }
        }
      }

      .cartItem__totalPrice {
        color: $dark;
        @include h3-font;
        font-weight: $bold;
      }
    }

    .cartItem__action {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .cartItem__count {
        margin-top: $x-0-75;
        display: flex;
        align-items: center;
        border: $border-gray;
        border-radius: 25px;
        width: max-content;
        padding: 0.1rem;
        .MuiIconButton-root {
          @include transition(300ms);
          .MuiSvgIcon-root {
            color: $dark-alt;
            // opacity: 0.8;
            @include h4-font;
            @include transition(300ms);
          }
        }
        input {
          background-color: transparent;
          width: 1.6rem;
          height: 1.6rem;
          text-align: center;
          border-radius: 50%;
          font-weight: $semi-bold;
          color: $dark-alt;
          @include small-font;
        }
      }

      .cartItem__button--group {
        display: flex;

        .cartItem__btn {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          color: $dark-alt;
          cursor: pointer;
          @include smallest-font;
          font-weight: $semi-bold;
          border-right: $border-gray;
          margin-right: $x-0-75;
          padding-right: $x-0-75;
          @include breakpoint(sm) {
            @include smaller-font;
          }
          .MuiSvgIcon-root {
            color: $dark-alt;
            opacity: 0.8;
            @include h4-font;
          }
          &:last-child {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
          }
          &:hover {
            color: $cyan;
            .MuiSvgIcon-root {
              color: $cyan;
            }
          }
        }
      }
    }
  }
}
