.category__section {
  background-color: $white;
  .category__content {
    display: grid;
    place-items: center;
    @include breakpoint(md) {
      place-items: initial;
    }
    .category__data {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      margin-top: $x-2;
      @include breakpoint(xl) {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
      }

      .MuiSkeleton-root,
      .category__item {
        height: 220px !important;
        width: 280px !important;
        @include breakpoint(sm) {
          width: 100% !important;
        }
      }
      .category__item {
        overflow: hidden;
        position: relative;
        .category__img {
          img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
          }
        }
        .category__btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
