.customBreadcrumbs {
  //   background-color: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: $x-1 0;
  .customBreadcrumbs__title {
    color: $dark-alt;
    font-weight: $bold;
    @include big-font;
    opacity: 0.8;
    font-family: $dancing;
  }
  .MuiLink-root {
    color: $cyan;
    font-weight: $medium;
    font-family: $poppins;
    @include small-font;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    @include transition(200ms);
    &:hover {
      text-decoration: underline;
    }
  }
  .breadcrumbs__text {
    @extend .MuiLink-root;
    cursor: initial;
    color: $dark-alt;
    &:hover {
      text-decoration: none;
    }
  }
}
