.custom__accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: $x-1;

  .MuiAccordion-root.Mui-disabled {
    background: $white;
    // @include box-shadow;
  }

  .MuiAccordionSummary-root {
    flex-direction: row-reverse;
    .accordion__checkbox {
      border: $border-gray;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .checkbox__text {
        @include smaller-font;
        font-weight: $semi-bold;
        color: $dark;
      }
    }

    & .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
      transform: rotate(0deg);
      .accordion__checkbox {
        background-color: $dark;

        .checkbox__text {
          color: $white;
        }
      }
    }

    & .MuiAccordionSummary-content {
      margin-left: $x-2;
    }

    .accordion__summery {
      .accordion__title {
        display: flex;
        color: $dark;
        gap: 0.5rem;

        .MuiSvgIcon-root {
          @include h4-font;
        }
        .title__text {
          @include small-font;
          font-weight: $medium;
          text-transform: uppercase;
          color: $dark-alt;
          opacity: 0.8;
        }
      }

      .user__name {
        @include small-font;
        font-weight: $semi-bold;
        color: $dark;
        margin-right: $x-1-25;
      }
      .user__phone {
        @extend .user__name;
      }
    }
  }
  .MuiAccordionSummary-root.Mui-disabled {
    opacity: 1 !important;
  }
}
