.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-99;
  width: 100%;
  background-color: $white-alt;
  @include header-shadow(-30px);
  @include transition(500ms);
  @include header-height;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav__searchBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      input {
        width: 99%;
        padding: 0 $x-0-75;
        @include small-font;
        font-weight: $medium;
        color: $dark-alt;
        background-color: transparent;
      }
      .MuiIconButton-root {
        .MuiSvgIcon-root {
          @include h3-font;
        }
        &:hover {
          color: $red;
        }
      }
    }
    .nav__logo {
      .logo {
        width: 130px;
        @include breakpoint(md) {
          width: 135px;
        }
        @include breakpoint(lg) {
          width: 140px;
        }
      }
    }
    .nav__menu {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: $z-99;
      width: 100%;
      @include header-height;
      background-color: $white-alt;
      @include header-shadow(12px);
      @include breakpoint(md) {
        position: initial;
        border-top: none;
        width: initial;
        background-color: initial;
        box-shadow: none;
      }
      .nav__list {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        @include breakpoint(md) {
          justify-content: initial;
          gap: 2rem;
        }
        .nav__item {
          .nav__link {
            color: $dark-alt;
            font-weight: $semi-bold;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include transition(200ms);
            @include smallest-font;
            @include breakpoint(sm) {
              @include smaller-font;
            }
            @include breakpoint(md) {
              @include small-font;
            }
            .MuiSvgIcon-root {
              @include h2-font;
              @include breakpoint(md) {
                display: none;
              }
            }

            // hover link
            &:hover {
              color: $cyan;
            }
          }
        }
      }
    }
    .nav__menu2 {
      .nav__list2 {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .nav__item2 {
          position: relative;
          .MuiIconButton-root {
            .MuiSvgIcon-root {
              @include h2-font;
              @include breakpoint(md) {
                @include h3-font;
              }
            }
            &:hover {
              color: $cyan;
            }
          }
          .nav__link2 {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            color: $dark-alt;
            font-weight: $semi-bold;
            @include small-font;
            @include transition(200ms);
          }
          .dropdown__menu {
            position: absolute;
            right: 0.3rem;
            top: 3.2rem;
            display: none;
            .dropdown__list {
              background-color: $white;
              padding: $x-0-75;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .dropdown__item {
                .dropdown__link {
                  border: 1px solid $white;
                  color: $dark-alt;
                  font-weight: $medium;
                  @include small-font;
                  padding: $x-0-5;
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  width: 10rem;
                  text-align: center;
                  @include transition(200ms);
                  &:hover {
                    color: $cyan;
                    border: 1px solid $white-alt;
                  }
                  .MuiSvgIcon-root {
                    @include h2-font;
                    @include breakpoint(md) {
                      @include h3-font;
                    }
                  }
                }
                .active__link {
                  color: $cyan;
                  border: 1px solid $white-alt;
                }
              }
            }
          }
          .dropdown__show {
            display: block;
          }
        }
      }
    }
  }
}

// when scroll down
.header__shadow {
  @include header-shadow(-10px);
}
