.hero__section {
  @include section-height(100vh);
  display: flex;
  align-items: center;
  position: relative;

  .hero__content {
    display: grid;
    gap: 5rem;
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .hero__data {
      .hero__title {
        @include big-font;
        color: $dark-alt;
      }
      .hero__description {
        @include small-font;
        font-weight: $medium;
        color: $dark-alt;
        margin-top: $x-1;
      }
      .hero__btn {
        margin-top: $x-1-5;
      }
    }
    .hero__image {
      text-align: center;
      align-self: center;
      img {
        width: 300px;
        animation: up-down 2000ms ease-in-out infinite forwards;
        @include breakpoint(sm) {
          width: 320px;
        }
        @include breakpoint(md) {
          width: 360px;
        }
        @include breakpoint(lg) {
          width: 400px;
        }
        @include breakpoint(xl) {
          width: 450px;
        }
      }
    }
  }
}

// image animation
@keyframes up-down {
  0% {
    transform: translateY(-1.2rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1.2rem);
  }
}
