.productLayout {
  margin: $x-3 0;

  .productLayout__container {
    display: block;
    // place-items: center;
    grid-template-columns: 260px 1fr;
    gap: 2rem;
    @include breakpoint(xl) {
      display: grid;
    }

    .productLayoutMenu {
      display: none;

      @include breakpoint(xl) {
        display: block;
      }
    }

    .productLayout__content {
      // background: gray;
      .productLayout__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $x-1-75;
        .productLayout__foundsTitle {
          color: $dark;
          font-weight: $medium;
          font-family: $poppins;
          @include small-font;

          display: none;
          @include breakpoint(md) {
            display: block;
          }

          .active__founds {
            color: $cyan;
          }
        }
        .productLayout__right {
          display: flex;
          justify-content: space-between;
          width: 100%;
          gap: 1rem;
          @include breakpoint(md) {
            justify-content: initial;
            width: initial;
          }

          .productLayout__sort--dropdown {
            display: none;
            @include breakpoint(xl) {
              display: block;
            }
          }

          .productLayoutFilterMenu {
            display: block;
            @include breakpoint(xl) {
              display: none;
            }
          }
        }
      }
      .productLayout__grid {
        display: grid;
        // column-gap: 1rem;
        // row-gap: 1rem;
        gap: 1rem;
        place-items: center;
        // grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        // @include breakpoint(sm) {
        //   // grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        // }
        // @include breakpoint(xl) {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        // }

        @include breakpoint(xl) {
          gap: 1.5rem;
        }
      }

      .productLayout__list {
        // margin-top: $x-1-75;
      }

      .productLayout__btn {
        width: 100%;
        margin-top: $x-2-75;
        .MuiButton-root {
          width: 100%;
        }
      }
    }
  }
}
