.productLayoutFilterMenu {
  .productLayoutFilterMenu__btn {
    .MuiButton-root {
      height: 2.5rem;
      text-transform: uppercase;

      .MuiSvgIcon-root {
        @include normal-font;
      }
    }
  }
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
