.profile {
  position: relative;
  margin-top: -5rem;
  .profile__content {
    display: grid;
    gap: 2.5rem;
    @include breakpoint(lg) {
      grid-template-columns: 1fr 1.5fr;
      gap: 2rem;
    }
    @include breakpoint(xl) {
      grid-template-columns: 1.1fr 2fr;
      gap: 2.5rem;
    }
    .profile__info {
      background-color: $white;
      text-align: center;
      padding: $x-1-25;
      max-width: 650px;
      width: 100%;
      margin: 0 auto;
      // @include box-shadow;

      .MuiSkeleton-root {
        margin: 0 auto;
      }
      .MuiAvatar-root {
        margin: 0 auto;
        // @include box-shadow;
        // position: relative;
        // z-index: 1;
        // border: 3px solid $gray;
      }

      .profile__card {
        // background-color: $white;
        // padding: $x-1-25;
        // border-radius: 8px;
        // position: relative;
        // top: -4.3rem;
      }

      .profile__name {
        color: $dark-alt;
        margin-top: $x-1-25;
        @include h2-font;
        font-weight: $semi-bold;
        border-bottom: 1px solid $gray;
        padding-bottom: $x-0-75;
      }
      .profile__btn {
        // margin-top: $x-0-75;
        .MuiButton-root {
          width: 100%;
        }
      }
    }
    .profile__others {
      display: flex;
      gap: 2.5rem;
      flex-direction: column;
      .profile__orders {
        .orders__title {
          color: $dark-alt;
          border-bottom: 1px solid $gray;
          padding-bottom: $x-0-25;
          @include h3-font;
        }
      }
      .profile__address {
        .address__title {
          color: $dark-alt;
          border-bottom: 1px solid $gray;
          padding-bottom: $x-0-25;
          @include h3-font;
        }
      }
    }
  }
}
