.product__section {
  .product__content {
    display: grid;
    gap: 2rem;
    max-width: 350px;
    margin: 0 auto;
    @include breakpoint(sm) {
      max-width: 400px;
    }
    @include breakpoint(md) {
      max-width: initial;
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(xl) {
      max-width: 90%;
    }
    .product__image {
      max-width: 400px;
      //   margin: 0 auto;
      @include shadow-btn;
      background: rgba(128, 128, 128, 0.301);
      height: 400px;
    }
    .product__details {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .product__rating {
        display: flex;
        align-items: center;
        gap: 1rem;
        .product__review--text {
          font-weight: $semi-bold;
          color: $dark-alt;
          @include small-font;
          margin-top: -0.1rem;
          opacity: 0.8;
        }
      }
      .product__title {
        font-weight: $semi-bold;
        color: $dark;
        @include h1-font;
      }
      .product__price {
        font-weight: $bold;
        color: $dark-alt;
        @include h3-font;
      }
      .product__description {
        color: $dark-alt;
        @include small-font;
        opacity: 0.8;
      }
      .product__category {
        color: $dark-alt;
        @include small-font;
        font-weight: $semi-bold;
        .product__category--link {
          color: $cyan;
        }
      }
      .product__count {
        margin: $x-1 0;
        display: flex;
        align-items: center;
        border: 1px solid $gray;
        width: max-content;
        padding: $x-0-25;
        .MuiIconButton-root {
          @include transition(300ms);
          .MuiSvgIcon-root {
            color: $dark-alt;
            opacity: 0.7;
            @include h3-font;
            @include transition(300ms);
          }
        }
        input {
          background-color: transparent;
          width: 2rem;
          height: 2rem;
          text-align: center;
          border-radius: 50%;
          font-weight: $semi-bold;
          color: $dark-alt;
          @include normal-font;
        }
      }

      .product__button {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-top: $x-0-5;
        .product__btn {
          width: 100%;
          .MuiButton-root {
            width: 100% !important;
            text-transform: uppercase;
            @include smaller-font;
            gap: 0.5rem;
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }

  .product__tab {
    max-width: 350px;
    margin: 0 auto;
    margin-top: $x-3;

    @include breakpoint(sm) {
      max-width: 400px;
    }
    @include breakpoint(md) {
      max-width: initial;
    }
    @include breakpoint(xl) {
      max-width: 90%;
    }

    .MuiButtonBase-root {
      font-weight: $bold;
      color: $dark-alt;
      font-family: $poppins;
      @include smaller-font;
    }

    .MuiTabs-indicator {
      background-color: $dark-alt !important;
    }

    .MuiAppBar-root {
      box-shadow: none;
      border-bottom: 1px solid $gray;
    }
    .product__description {
      color: $dark-alt !important;
      @include small-font;
      opacity: 0.9;
      font-family: $poppins;
      line-height: 1.8;
    }
  }
}
