.productListItem {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 1rem;
  margin-bottom: $x-1-75;
  padding-bottom: $x-1-75;
  border-bottom: $border-gray;
  &:last-child {
    border: none;
  }

  @include breakpoint(md) {
    grid-template-columns: 180px 1fr;
  }

  .productListItem__img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .productListItem__content {
    .productListItem__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .productListItem__title {
        font-weight: $semi-bold;
        color: $dark-alt;
        @include normal-font;
        opacity: 0.9;
        &:hover {
          color: $cyan;
        }
      }
      .productListItem__price {
        font-weight: $bold;
        color: $dark-alt;
        @include smaller-font;
      }

      .productListItem__rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
        .productListItem__review--text {
          font-weight: $semi-bold;
          color: $dark-alt;
          @include small-font;
          margin-top: -0.4rem;
          opacity: 0.8;
        }
      }
    }

    .productListItem__description {
      color: $dark-alt;
      @include small-font;
      font-weight: $medium;
      margin-top: $x-0-5;
      margin-bottom: $x-1-75;
      display: block;
      @include breakpoint(md) {
        display: none;
      }
    }

    .productListItem__description--large__screen {
      @extend .productListItem__description;
      display: none;
      @include breakpoint(md) {
        display: block;
      }
    }

    .productListItem__button {
      display: flex;
      gap: 0.5rem;
      margin-top: $x-0-5;
      .productListItem__btn {
        .MuiButton-root {
          width: 100% !important;
          text-transform: uppercase;
          @include smallest-font;

          &:disabled {
            color: $cyan !important;
            opacity: 1;
            cursor: not-allowed !important;
            .MuiSvgIcon-root {
              color: $cyan;
            }
          }
        }
      }
      .MuiIconButton-root {
        border-radius: 0;
        border: $border-gray;
        width: 45px;
        @include breakpoint(md) {
        }
        &:disabled {
          color: $cyan !important;
          opacity: 1;
          cursor: not-allowed !important;
          .MuiSvgIcon-root {
            color: $cyan;
          }
        }
      }
    }
  }
}
