.reviewGraph {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $x-1;
  margin-bottom: $x-1-75;
  @include breakpoint(md) {
    padding: $x-1-75;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $white;
    z-index: -1;
    border-radius: 10px;
    opacity: 0.6;
  }

  .reviewGraph__rating {
    .rating__text {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      color: $dark;
      @include h1-font;
      font-weight: $bold;

      .rating__small {
        margin-top: $x-0-5;
        @include small-font;
        font-weight: $semi-bold;
      }
    }
    .review__text {
      @include small-font;
      color: $dark-alt;
      display: block;
      margin-top: -0.5rem;
    }
    .rating {
      margin-top: $x-0-75;
      .rating__icon {
        .MuiSvgIcon-root {
          @include h2-font;
        }
      }
    }
  }
  .reviewGraph__graph {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 70%;
    .graph__progress {
      display: grid;
      grid-template-columns: 6.5rem auto;
      align-items: center;
      @include breakpoint(md) {
        grid-template-columns: 8rem auto;
      }

      .graph__text {
        @include smaller-font;
        color: $dark-alt;
        font-weight: $semi-bold;
        @include breakpoint(md) {
          @include small-font;
        }
      }
      .MuiLinearProgress-root {
        background-color: $cyan-alt;
        border-radius: 8px;
        height: 0.7rem;
        @include breakpoint(md) {
          height: 0.8rem;
        }
        .MuiLinearProgress-bar {
          background-color: $cyan;
          border-radius: 8px;
        }
      }
    }
  }
}
