.reviewForm {
  margin-top: $x-1;
  max-width: 680px;

  .form__title {
    font-weight: $semi-bold;
    color: $dark;
    @include h3-font;
    margin-bottom: $x-0-75;
  }
  .form__group {
    .form__textarea {
      height: 5rem;
    }
    .textarea {
      border-color: $red;
    }
  }
  .reviewForm__btn {
    margin-top: $x-1;
    .MuiButton-root {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .reviewForm__logged {
    display: block;
    color: $dark-alt;
    @include smaller-font;
    margin-top: -0.8rem;
    .logged__link {
      color: $cyan;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
