.reviewComment {
  margin: $x-0-75 0 0 0;
  position: relative;
  padding: $x-1;
  @include breakpoint(md) {
    padding: $x-1-25 $x-1-75;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $white;
    z-index: -1;
    border-radius: 10px;
    opacity: 0.5;
  }

  .reviewComment__users {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .users__info {
      display: flex;
      gap: 0.8rem;
      //   align-items: center;

      .users__details {
        .users__name {
          font-weight: $semi-bold;
          color: $dark;
          @include small-font;
          .comment__time {
            color: $dark-alt;
            font-size: 0.7rem;
            font-weight: normal;
          }
        }
      }
    }
  }

  .reviewComment__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: $x-0-25;

    .comment__text {
      color: $dark-alt;
      font-weight: $medium;
      opacity: 0.9;
      @include small-font;
      display: block;
    }
    .reviewComment__action {
      .MuiPaper-root {
        padding: $x-0-25 $x-0-5;
        align-items: center;
        gap: 0.3rem;
        .MuiAlert-message {
          font-family: $poppins;
          @include smallest-font;
          padding: 0;
          font-weight: $medium;
        }
        .MuiAlert-icon {
          margin: 0;
          @include h4-font;
        }
      }
    }
  }
}
