.userAvater {
  .MuiIconButton-root {
    background-color: $white;
    .MuiSvgIcon-root {
      @include h2-font;
      @include breakpoint(md) {
        @include h3-font;
      }
    }
    &:hover {
      color: $cyan;
      background-color: $white;
    }
  }
}
