/*********** Base Css ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  @include body-margin(plus);
  padding: 0;
  overflow: overlay;
  font-family: $poppins;
  @include normal-font;
  background-color: $white-alt;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button,
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: $poppins;
}
button:disabled {
  pointer-events: auto !important;
  cursor: not-allowed !important;
  opacity: 0.7;
  &:hover {
    color: initial;
    box-shadow: none !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}
