.sl__section {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  @include body-margin(minus);
  &::after {
    left: 0;
    width: 0;
    @include breakpoint(md) {
      width: 50%;
      height: 100%;
    }
  }

  .sl__container {
    margin: 0 auto;
    padding: $x-2;
    max-width: 350px;
    width: 100%;
    @include box-shadow;
    @include breakpoint(sm) {
      max-width: 400px;
    }
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 760px;
      gap: 3.5rem;
    }
    @include breakpoint(lg) {
      max-width: 900px;
      gap: 4rem;
    }

    .sl__content {
      display: none;
      text-align: center;
      align-self: center;
      @include breakpoint(md) {
        display: block;
      }
      .sl__title {
        @include normal-font;
        color: $dark-alt;
      }
      .sl__logo {
        margin: $x-0-25 0;
        .logo {
          width: 150px;
          @include breakpoint(md) {
            width: 200px;
          }
          @include breakpoint(lg) {
            width: 220px;
          }
        }
      }
      .sl__description {
        @include smaller-font;
        font-weight: $medium;
        color: $dark-alt;

        // display: none;
      }
    }
    .sl__form {
      .form__title {
        text-align: center;
        font-weight: $semi-bold;
        @include h3-font;
        margin-bottom: $x-0-75;
      }
      .form__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .checkbox__group {
          display: flex;
          align-items: center;
          .checkbox__label {
            color: $dark-alt;
            font-weight: $medium;
            @include smallest-font;
          }
        }
        .form__forget {
          font-weight: $medium;
          color: $primary;
          @include smallest-font;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .sl__btn {
        margin-top: $x-1;
        .MuiButton-root {
          width: 100%;
        }
      }

      .form__footer {
        margin-top: $x-0-5;
        text-align: center;
        .form__footer--text {
          font-weight: $medium;
          color: $dark-alt;
          @include smallest-font;
          .form__footer--link {
            color: $primary;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.signup__section {
  &::after {
    left: 50%;
  }
}
