.customTable {
  // overflow-x: scroll;
  table {
    border-collapse: separate;
    border-spacing: 0 $x-0-75;
    width: 100%;
  }

  thead {
    tr {
      background-color: $white-alt;
      border-radius: 8px;
      th {
        text-align: left;
        padding: $x-0-5 $x-1;
        color: $dark-alt;
        @include small-font;
        text-transform: uppercase;
        &:last-child {
          text-align: center;
        }
        .th__header {
          display: flex;
          align-items: center;
          .MuiSvgIcon-root {
            @include h2-font;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  tbody {
    tr {
      border-radius: 8px;
      background-color: $white-alt;
      @include transition(200ms);
      &:hover {
        background-color: $white;
      }
      td {
        text-align: left;
        padding: $x-0-5 $x-1;
        font-weight: $semi-bold;
        color: $dark-alt;
        @include smaller-font;
      }
    }
  }
  .customTable__pagination {
    margin-top: $x-0-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pagination__text {
      color: $dark-alt;
      @include small-font;
    }
  }
}
