.dc__section {
  background-color: $cyan-alt;
  padding: $x-1;
  position: relative;
  .dc__container {
    .dc__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__title {
        font-weight: $semi-bold;
        color: $dark-alt;
        @include small-font;
      }
    }
  }
  .dc__modal {
    .MuiModal-root {
      z-index: 999 !important;
    }
  }
}
