.orderInvoice {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $x-2-5;
  .orderInvoice__container {
    max-width: 600px;
    width: 100%;
    background-color: $white-alt;
    padding: $x-1;
    position: relative;

    .orderInvoice__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .orderInvoice__title {
        font-weight: $semi-bold;
        @include h3-font;
      }

      .orderInvoice__close {
        position: absolute;
        right: -25px;
        top: -25px;
        background-color: $white-alt;
        border-radius: 50%;
      }
    }
  }
}
